[project]
name = "cli"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "typer",
    "rich",
]

[dependency-groups]
dev = [
    "pytest>=9.0.2",
]
